/* HTML5 Boilerplate */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio, canvas, video { display: inline-block; display: inline; zoom: 1; }

audio:not([controls]) { display: none; }

[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; height: 100%; }

html, button, input, select, textarea { font-family: Helvetica, Arial, "Lucida Grande", sans-serif; color: #222; }

body, .view-root, .home-screen-view { margin: 0; font-size: 13px; line-height: 1.4; }

::-moz-selection { background: #f60; color: #fff; text-shadow: none; }

::selection { background: #f60; color: #fff; text-shadow: none; }

a { color: #00e; text-decoration: none !important; }

a:visited { color: #551a8b; }

a:hover { color: #06e; }

a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }

dd { margin: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; -moz-appearance: button; appearance: button; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }

input[type="search"] { -webkit-appearance: textfield; -moz-appearance: textfield; appearance: textfield; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }

.ir br { display: none; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

@media print { * { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
/********************************************* Begin global shared classes svn revision: $Rev$ ********************************************/
/** Float helpers  cf: "clear float", clears a float. usage: <div class="fr">foo</div><div class="cf">bar</div> fc: "float container", contains a float. usage: <div class="fc"><p class="fr">foo</p><p>bar</p></div> fcv: "float container" with overflow: visible. usage: <div class="fcv"><p class="fr dropshadow">i have a bounds-extending drop shadow</p></div><div class="cf">Cleared!</div> fl: "float left" fr: "float right"
**/
.cf:before, .cf:after { content: ""; display: table; clear: both; }

.fc { overflow: hidden; }

.fcv { overflow: visible; }

.fl { float: left; }

.fr { float: right; }

ul.fc, ul.fcv { margin: 0; padding: 0; list-style: none; }

ul.fc li, ul.fcv li { margin: 0; padding: 0; }

/** Orientation helpers. 'portrait' and 'landscape' are automatically appended to <body> onorientationchange  o-land: landscape-only feature, hide it in portrait o-port: portrait-only feature, hide it in landscape
**/
.portrait .o-land { display: none; }

.landscape .o-port { display: none; }

/** Box sizing
**/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/********************************************* End global shared classes Begin fonts ********************************************/
@font-face { font-family: "KlavikaRegular"; src: url("klavika-regular.eot"); src: url("klavika-regular.woff") format("woff"), url("klavika-regular.ttf") format("truetype"), url("klavika-regular.svg#KlavikaRegular") format("svg"); }

@font-face { font-family: "Conv_HelveticaNeue"; src: url("HelveticaNeue.eot"); src: url("HelveticaNeue.woff") format("woff"), url("HelveticaNeue.ttf") format("truetype"), url("HelveticaNeue.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "Conv_HelveticaNeue_Lt"; src: url("HelveticaNeue_Lt.eot"); src: url("HelveticaNeue_Lt.woff") format("woff"), url("HelveticaNeue_Lt.ttf") format("truetype"), url("HelveticaNeue_Lt.svg") format("svg"); font-weight: normal; font-style: normal; }

/********************************************* End fonts Begin global mixins ********************************************/
/** Headings
**/
/********************************************* End global mixins Begin sprites ********************************************/
.sprites-sprite { background: url('../img/sprites-s242a14f251.png') no-repeat; }

.sprites2x-sprite { background: url('../img/sprites2x-s6daed22149.png') no-repeat; }

/********************************************* End sprites Begin view imports      ********************************************/
/** UI components
**/
/* button styling */
.ui-cta, .ui-cta-large { display: inline-block; font-family: "Conv_HelveticaNeue_Lt"; color: #e4e4e4; text-decoration: none; }

.ui-cta:visited, .ui-cta-large:visited, .ui-cta:hover .ui-cta:focus, .ui-cta-large:hover .ui-cta:focus, .ui-cta:hover .ui-cta-large:focus, .ui-cta-large:hover .ui-cta-large:focus { color: #e4e4e4; }

.ui-cta-large { padding: 15px 106px 15px 84px; line-height: 32px; font-size: 32px; border: 1px solid #595959; }

.ui-cta-large.ui-cta-large-disabled { background-color: #b8b8b8; opacity: 0.5; color: #595959; border: 1px solid #595959; }

/********************************************* Global Variables ********************************************/
/********************************************* Global CTA mixins ********************************************/
/** Views
**/
body::-webkit-scrollbar, .view-root::-webkit-scrollbar, .home-screen-view::-webkit-scrollbar { width: 0 !important; }

body, .view-root, .home-screen-view { position: absolute; top: 0; left: 0; height: 100%; width: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-touch-callout: none; -webkit-user-select: none; }

.home-screen-view { background: #d1e3e5; }
.home-screen-view .home-screen-title { position: fixed; left: 50%; top: 22px; height: 58px; width: 198px; margin: 0 0 0 -99px; background: url('../img/homescreen/scavhn-logo.png?1391006630') no-repeat center center; }
.home-screen-view .scav-level-items-title { position: fixed; left: 50%; top: 146px; width: 276px; margin: 0 0 0 -138px; }
.home-screen-view .scav-level-items-title p { font-family: "Conv_HelveticaNeue_Lt"; font-size: 22px; letter-spacing: 1px; color: #595959; line-height: 1; margin: 0 0; }
.home-screen-view .scav-level-items { position: fixed; top: 183px; left: 50%; height: 176px; width: 276px; margin: 0 0 0 -138px; }
.home-screen-view .scav-level-items .scav-beginner-level-item { position: absolute; }
.home-screen-view .scav-level-items .scav-beginner-level-item a { width: 276px; height: 44px; line-height: 2; color: #8ea583; font-size: 22px; border: 1px solid #8ea583; }
.home-screen-view .scav-level-items .scav-beginner-level-item a span { text-transform: capitalize; letter-spacing: 1px; margin-left: 55px; }
.home-screen-view .scav-level-items .scav-beginner-level-item .scav-beginner-highlighted { position: absolute; z-index: -1; top: 0; left: 44px; width: 232px; height: 44px; background: #8ea583; opacity: 0.8; }
.home-screen-view .scav-level-items .scav-intermediate-level-item { position: absolute; top: 66px; }
.home-screen-view .scav-level-items .scav-intermediate-level-item a { width: 276px; height: 44px; line-height: 2; color: #5b9aa8; font-size: 22px; border: 1px solid #5b9aa8; }
.home-screen-view .scav-level-items .scav-intermediate-level-item a span { text-transform: capitalize; letter-spacing: 1px; margin-left: 55px; }
.home-screen-view .scav-level-items .scav-intermediate-level-item .scav-intermediate-highlighted { position: absolute; z-index: -1; top: 0; left: 44px; width: 232px; height: 44px; background: #5b9aa8; opacity: 0.8; }
.home-screen-view .scav-level-items .scav-expert-level-item { position: absolute; top: 132px; }
.home-screen-view .scav-level-items .scav-expert-level-item a { width: 276px; height: 44px; line-height: 2; color: #e56c69; font-size: 22px; border: 1px solid #e56c69; }
.home-screen-view .scav-level-items .scav-expert-level-item a span { text-transform: capitalize; letter-spacing: 1px; margin-left: 55px; }
.home-screen-view .scav-level-items .scav-expert-level-item .scav-expert-highlighted { position: absolute; z-index: -1; top: 0; left: 44px; width: 232px; height: 44px; background: #e56c69; opacity: 0.8; }
.home-screen-view .begin-scav-action { bottom: -1px; padding-bottom: 20px; left: 0; right: 0; width: 100%; position: fixed; text-align: center; }
.home-screen-view .begin-scav-action a { background-color: #e9e9e9; background-image: url('../img/homescreen/homescreen-begin-lg.png?1391017875'); background-repeat: no-repeat; background-position: top left; }
.home-screen-view .begin-scav-action a span { letter-spacing: 1px; color: #595959; }

/********************************************* For applying button hightlighting.  Lives outside of the nesting because it is a toggle ********************************************/
.highlight-cta-text { color: #e9e9e9; }

/********************************************* Responsive styling ********************************************/
/* iPhones (portrait) */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) { /*CSS Instructions */
  .home-screen-view { background: url('../img/homescreen/homescreen-bg-iphone5-portrait.png?1390924521') no-repeat center center; } }
/* iPhone 5 (landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) { /*CSS Instructions */
  .home-screen-view { background: url('../img/homescreen/homescreen-bg-iphone5-landscape.png?1390956614') no-repeat center center; }
  .home-screen-view .scav-level-items-title { display: none; }
  .home-screen-view .scav-level-items { top: 88px; left: 50%; height: 136px; width: 414px; margin: 0 0 0 -207px; }
  .home-screen-view .scav-level-items .scav-beginner-level-item a { width: 414px; }
  .home-screen-view .scav-level-items .scav-beginner-level-item .scav-beginner-highlighted { width: 370px; }
  .home-screen-view .scav-level-items .scav-intermediate-level-item { top: 46px; }
  .home-screen-view .scav-level-items .scav-intermediate-level-item a { width: 414px; }
  .home-screen-view .scav-level-items .scav-intermediate-level-item .scav-intermediate-highlighted { width: 370px; }
  .home-screen-view .scav-level-items .scav-expert-level-item { top: 92px; }
  .home-screen-view .scav-level-items .scav-expert-level-item a { width: 414px; }
  .home-screen-view .scav-level-items .scav-expert-level-item .scav-expert-highlighted { width: 370px; }
  .home-screen-view .begin-scav-action { padding-bottom: 16px; } }
/* iPads (portrait) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) { /*CSS Instructions */
  .home-screen-view { background: url('../img/homescreen/homescreen-bg-ipad-portrait.png?1391004686') no-repeat center center;     /*.home-screen-title {
 }
 .scav-level-items-title {
 }
 .scav-level-items {
 .scav-beginner-level-item {
 }
 .scav-intermediate-level-item {
 }
 .scav-expert-level-item {
 } }*/ } }
/* iPads (landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) { /*CSS Instructions */
  .home-screen-view { background: url('../img/homescreen/homescreen-bg-ipad-landscape.png?1391004678') no-repeat center center;     /*.home-screen-title {
 }
 .scav-level-items-title {
 }
 .scav-level-items {
 .scav-beginner-level-item {
 }
 .scav-intermediate-level-item {
 }
 .scav-expert-level-item {
 } }*/ } }
/********************************************* Mixins ********************************************/
/********************************************* Styling ********************************************/
.scav-items-view { width: 100%; font-family: "Conv_HelveticaNeue_Lt"; position: relative; background-color: #e9e9e9; }
.scav-items-view .scav-items-header { -webkit-transform: translateZ(0); -webkit-perspective: 1000; -webkit-backface-visibility: hidden; background-color: #e9e9e9; position: fixed; top: 0; left: 0; right: 0; width: 100%; z-index: 1000; }
.scav-items-view .scav-items-header .scav-items-title-container { width: 100%; background-color: #cda349; margin: 0; padding: 0; }
.scav-items-view .scav-items-header .scav-items-title-container ul .scavhn-headsup-icon { display: inline-block; vertical-align: top; background: url('../img/scavitemsscreen/scavhn-headsup-logo.png?1390171367') no-repeat center center; padding: 13px 20px; }
.scav-items-view .scav-items-header .scav-items-title-container ul .scavhn-headsup-activity-image { display: inline-block; vertical-align: top; background: url('../img/scavitemsscreen/playerimgheadsup.png?1390171367') no-repeat center center; padding: 13px 20px; }
.scav-items-view .scav-items-header .scav-items-title-container ul .scav-headsup-image { display: inline-block; vertical-align: top; padding: 13px 20px; }
.scav-items-view .scav-items-header .scav-items-title-container ul .scav-headsup-point-total { display: inline-block; vertical-align: top; background-color: #cda349; padding: 7px 8px; min-width: 65px; }
.scav-items-view .scav-items-header .scav-items-title-container ul .scav-headsup-point-total p:before { content: ""; width: 28px; display: block; overflow: hidden; }
.scav-items-view .scav-items-header .scav-items-title-container ul .scav-headsup-point-total p { color: #e9e9e9; font-size: 22px; text-align: center; margin: 0; padding: 0; }
.scav-items-view .scav-items-header .scav-items-title-container ul .scav-headsup-recent-item { display: inline-block; vertical-align: top; overflow: hidden; background-color: #e9e9e9; padding: 0px 40px 8px 10px; border-top: 1px solid #cda349; border-bottom: 1px solid #cda349; }
.scav-items-view .scav-items-header .scav-items-title-container ul .scav-headsup-recent-item p:before { content: ""; width: 72px; display: block; overflow: hidden; }
.scav-items-view .scav-items-header .scav-items-title-container ul .scav-headsup-recent-item p { position: relative; color: #cda349; font-size: 11px; margin: 0; padding: 2px 0 0 0; }
.scav-items-view .scav-items-header .scav-items-title-container ul .scav-headsup-recent-item .scav-headsup-recent-item-label { background-color: #e9e9e9; z-index: 6; }
.scav-items-view .scav-items-header .scav-items-title-container ul .scav-headsup-recent-item .scav-headsup-itemname-label { z-index: 5; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 72px; }
.scav-items-view .scav-items-header .scav-timer { min-height: 99px; width: 100%; margin: 0; padding: 11px; text-align: center; }
.scav-items-view .scav-items-header .scav-timer p { font-size: 55px; color: #6e9059; padding: 0; margin: 0; }
.scav-items-view .scav-items-header .scav-timer .game-over { font-size: 49px; margin-top: 4px; }
.scav-items-view .scav-items-header .scav-found-left-container { width: 100%; }
.scav-items-view .scav-items-header .scav-found-left-container .scav-found { background-color: #5b9aa8; width: 49%; text-align: center; }
.scav-items-view .scav-items-header .scav-found-left-container .scav-found p { font-size: 22px; color: #e9e9e9; padding: 7px 0px; margin: 0; }
.scav-items-view .scav-items-header .scav-found-left-container .scav-left { background-color: #e56c69; width: 49%; text-align: center; }
.scav-items-view .scav-items-header .scav-found-left-container .scav-left p { font-size: 22px; color: #e9e9e9; padding: 7px 0px; margin: 0; }
.scav-items-view .scav-tableview { -webkit-transform: translateZ(0); -webkit-perspective: 1000; -webkit-backface-visibility: hidden; position: relative; z-index: 1; background-color: #e9e9e9; -webkit-overflow-scrolling: touch; overflow: auto; }
.scav-items-view .scav-tableview .scav-tableview-top-shim { height: 198px; }
.scav-items-view .scav-tableview .scav-listitems .scav-item-row { position: relative; overflow: visible; text-align: left; }
.scav-items-view .scav-tableview .scav-listitems .scav-item-row .scav-item { height: 66px; }
.scav-items-view .scav-tableview .scav-listitems .scav-item-row .scav-item .scav-item-image { height: 44px; width: 44px; margin-top: 11px; margin-left: 11px; }
.scav-items-view .scav-tableview .scav-listitems .scav-item-row .scav-item .scav-item-info { font-size: 11px; margin: 8px 0px 10px 21px; }
.scav-items-view .scav-tableview .scav-listitems .scav-item-row .scav-item .scav-item-info p { margin: 0; padding: 0; }
.scav-items-view .scav-tableview .scav-listitems .scav-item-row .scav-item .scav-item-camera-action { height: 44px; width: 44px; margin-top: 22px; margin-bottom: 0; margin-right: 22px; }
.scav-items-view .scav-tableview .scav-listitems .scav-item-row .scav-item .scav-item-camera-action a { padding: 22px; background: url('../img/scavitemsscreen/scavhn-itemview-camera-arrow.png?1390171367') no-repeat center center; }
.scav-items-view .scav-tableview .scav-listitems .scav-item-row .scav-item-disabled { position: absolute; top: 0; width: 100%; height: 66px; background-color: #e9e9e9; opacity: 0.8; display: none; }
.scav-items-view .scav-tableview .scav-tableview-bottom-shim { height: 46px; }
.scav-items-view .scav-cameraview { -webkit-transform: translateZ(0); -webkit-perspective: 1000; -webkit-backface-visibility: hidden; position: fixed; z-index: 2; top: 187px; right: -100%; width: 100%; bottom: 0; background-color: #e9e9e9; }
.scav-items-view .scav-cameraview .scav-camera-initial-view { width: inherit; height: 206px; z-index: -2; /*display: none;*/ }
.scav-items-view .scav-cameraview .scav-camera-initial-view .scav-itemtofind-image { margin-top: 20px; margin-left: 20px; padding: 22px; background: url('../img/scavitemsscreen/itemstofind/itemstofind-preloader.png?1390171367') no-repeat center center; }
.scav-items-view .scav-cameraview .scav-camera-initial-view .scav-camera-item-info { position: relative; left: 10px; top: 26px; width: 166px; }
.scav-items-view .scav-cameraview .scav-camera-initial-view .scav-camera-item-info .scav-camera-item-info-name { line-height: 1.2; margin: 0 0; font-size: 21px; color: #595959; }
.scav-items-view .scav-cameraview .scav-camera-initial-view .scav-camera-item-info .scav-camera-item-info-points { margin-top: -2px; margin-bottom: 4px; color: #595959; font-size: 13px; }
.scav-items-view .scav-cameraview .scav-camera-initial-view .scav-camera-item-info .scav-camera-item-info-hint { margin-top: 0; color: #595959; font-size: 13px; }
.scav-items-view .scav-cameraview .scav-camera-initial-view .scav-item-camera-goback-action { height: 44px; width: 44px; position: absolute; top: 20px; right: 22px; }
.scav-items-view .scav-cameraview .scav-camera-initial-view .scav-item-camera-goback-action a { padding: 22px; background: url('../img/camerascreen/scavhn-cameraview-goback-arrow.png?1390192970') no-repeat center center; }
.scav-items-view .scav-cameraview .scav-camera-result-view { width: inherit; height: 336px; text-align: center; z-index: -2; display: none; }
.scav-items-view .scav-cameraview .scav-camera-result-view .scav-itemtofind-result-image { position: relative; top: 22px; left: 38px; width: 76px; height: 76px; background: url('../img/camerascreen/itemstofind-preloader-large.png?1390192970') no-repeat center center; }
.scav-items-view .scav-cameraview .scav-camera-result-view .scav-item-operator-icon { position: relative; top: 38px; left: 64px; height: 44px; width: 46px; opacity: 0; }
.scav-items-view .scav-cameraview .scav-camera-result-view .equals { background: url('../img/camerascreen/equals-icon.png?1390192419') no-repeat center center; }
.scav-items-view .scav-cameraview .scav-camera-result-view .not-equals { background: url('../img/camerascreen/not-equals-icon.png?1390190904') no-repeat center center; }
.scav-items-view .scav-cameraview .scav-camera-result-view .scav-itemfound-image { position: relative; top: 10px; width: 76px; height: 101px; right: 38px; /*@include opacity(0);*/ -webkit-mask-box-image: url('../img/camerascreen/circle-mask.svg?1390192970'); -webkit-mask-size: 76px 101px; -webkit-mask-repeat: no-repeat; }
.scav-items-view .scav-cameraview .scav-camera-result-view .scav-itemfound-result-label { position: absolute; top: 30%; width: 100%; margin: 0 0; font-size: 72px; opacity: 0; }
.scav-items-view .scav-cameraview .scav-camera-result-view .sweet { color: #cda349; }
.scav-items-view .scav-cameraview .scav-camera-result-view .bummer { color: #e56c69; }
.scav-items-view .scav-cameraview .scav-item-camera-cta { width: 276px; height: 44px; overflow: hidden; position: absolute; bottom: 108px; left: 22px; /*display: none;*/ /* For native view */ }
.scav-items-view .scav-cameraview .scav-item-camera-cta input { width: 276px; height: 44px; cursor: pointer; position: absolute; top: 0px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.scav-items-view .scav-cameraview .scav-item-camera-cta p { position: relative; left: 54px; margin: 0 0; line-height: 1.95; text-align: left; font-size: 22px; z-index: -1; }
.scav-items-view .scav-cameraview .scav-item-camera-cta a { position: relative; left: 54px; margin: 0 0; line-height: 1.95; text-align: left; font-size: 22px; z-index: -1; }
.scav-items-view .scav-cameraview .new-picture { background: url('../img/camerascreen/scavhn-cameraview-camera-icon.png?1390192970') no-repeat left center; border: 1px solid #595959; }
.scav-items-view .scav-cameraview .new-picture p { color: #595959; }
.scav-items-view .scav-cameraview .retake-picture { background: url('../img/camerascreen/scavhn-cameraview-camera-retake-icon.png?1390192970') no-repeat left center; border: 1px solid #6e9059; }
.scav-items-view .scav-cameraview .retake-picture p { color: #6e9059; }
.scav-items-view .scav-cameraview .scav-item-camera-native-cta { position: absolute; bottom: 108px; left: 22px; }
.scav-items-view .scav-cameraview .new-picture-native a { width: 276px; height: 44px; line-height: 2; color: #595959; font-size: 22px; border: 1px solid #595959; background-image: url('../img/camerascreen/scavhn-cameraview-camera-icon.png?1390192970'); background-position: top left; background-repeat: no-repeat; }
.scav-items-view .scav-cameraview .new-picture-native a span { margin-left: 55px; }
.scav-items-view .scav-cameraview .retake-picture-native a { width: 276px; height: 44px; line-height: 2; color: #6e9059; font-size: 22px; border: 1px solid #6e9059; background-image: url('../img/camerascreen/scavhn-cameraview-camera-retake-icon.png?1390192970'); background-position: top left; background-repeat: no-repeat; }
.scav-items-view .scav-cameraview .retake-picture-native a span { margin-left: 55px; }
.scav-items-view .scav-cameraview .scav-item-camera-gobackafterattempt-action { position: absolute; bottom: 58px; left: 22px; display: none; }
.scav-items-view .scav-cameraview .scav-item-camera-gobackafterattempt-action a { width: 276px; height: 44px; line-height: 2; color: #595959; font-size: 22px; border: 1px solid #595959; background-image: url('../img/camerascreen/scavhn-cameraview-goback-arrow.png?1390192970'); background-position: top left; background-repeat: no-repeat; }
.scav-items-view .scav-cameraview .scav-item-camera-gobackafterattempt-action a span { margin-left: 55px; }
.scav-items-view .game-over-disabled { -webkit-filter: blur(13px); }
.scav-items-view .scav-items-footer { -webkit-transform: translateZ(0); -webkit-perspective: 1000; -webkit-backface-visibility: hidden; bottom: -1px; padding-bottom: 1px; left: 0; right: 0; width: 100%; position: fixed; z-index: 1000; }
.scav-items-view .scav-items-footer .quit-scav-action { margin: 0 auto; width: 276px; height: 44px; }
.scav-items-view .scav-items-footer .quit-scav-action a { width: inherit; line-height: 2; color: #e56c69; font-size: 22px; border: 1px solid #e56c69; background-color: #e9e9e9; background-image: url('../img/scavitemsscreen/scavhn-itemview-quit-icon.png?1390171367'); background-position: top left; background-repeat: no-repeat; }
.scav-items-view .scav-items-footer .quit-scav-action a span { margin-left: 55px; }

/********************************************* Responsive styling ********************************************/
/* iPhones (portrait) */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) { /*CSS Instructions */
  .scav-items-view .scav-items-header .ios7-statusbar-shim { padding: 9px; background-color: #000000; }
  .scav-items-view .scav-cameraview { top: 204px; } }
/* iPhone 5 (landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) { /*CSS Instructions */
  .scav-items-view .scav-items-header .ios7-statusbar-shim { padding: 9px; background-color: #000000; }
  .scav-items-view .scav-items-header .scav-timer { display: none; }
  .scav-items-view .scav-items-header .scav-found-left-container { display: none; }
  .scav-items-view .scav-tableview .scav-tableview-top-shim { display: none; }
  .scav-items-view .scav-cameraview { top: 44px; } }
/* iPads (portrait) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) { /*CSS Instructions */ }
/* iPads (landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) { /*CSS Instructions */ }
.load-indicator-root { display: none; }

.load-indicator-view { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 9999; }
.load-indicator-view .load-indicator-background { background-color: #595959; -webkit-border-radius: 16px; -moz-border-radius: 16px; -ms-border-radius: 16px; -o-border-radius: 16px; border-radius: 16px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; margin-left: -23px; margin-top: -23px; position: absolute; width: 46px; height: 46px; top: 50%; left: 50%; }
.load-indicator-view .load-indicator-spinner { background: url('../img/modals/ajax-loader-large-grey.gif?1390171366') center center no-repeat; margin-left: -23px; margin-top: -23px; position: absolute; width: 46px; height: 46px; top: 50%; left: 50%; }

/********************************************* End view imports End
*********************************************/
